{% include 'head.twig' %}
   <body>
        <div class="container">
            <h1>runbus.xyz</h1>
            <div class="row">
                <div class="col-md-6">
                    <form action="?" method="get">
                    <input name="lat" value="" id='lat' type="hidden">
                    <input name="long" value="" id='long' type="hidden">
                    <button class="btn btn-success btn-lg" disabled="disabled" id="find-me-button">Find me!</button>
                    </form>
                    </div> 
                    {% if stop_number is not null %}
                <div class="header"><button type="button" class="btn btn-primary"><span>Collapse</span></button>
                    
                </div>
                {% endif %}
                <div class="search">
                    <div class="col-md-6">
                        <p>Find bus times by stop number
                        <form action="?" method="get">
                        <input name="stopno" value="{{ closest_stop }}" type="number">
                        <button class="btn btn-primary">Find</button>
                        </form>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>Find bus by address
                        <form action="?" method="get" >
                        <input name="address" value="">
                        <button class="btn btn-primary">Find</button>
                        </form>
                        </p>
                    </div>
                </div>

                <div class="col-md-6">   
                    {% if next_estimate is not null %} 

                    {% if bus_time_output|length > 1 %}
                        {% for item in bus_time_output %}
                          <a href="/?stopno={{ closest_stop }}&routeno={{ item.RouteNo }}"><span class="badge">{{ item.RouteNo }}</span></a>
                        {% endfor %}
                    {% endif %}
                    <p>Route: {{ route_no }} to {{ next_estimate.0.Destination }} 
                    <br>
                    {% if bus_schedule_time is not null %} 
                        Real Time: The bus is {{ bus_schedule_time }} </p>
                    {% endif %}
                    <p>Next estimate: {{ next_estimate.0.ExpectedLeaveTime }} in <b>{{ next_estimate.0.ExpectedCountdown }}</b> minutes.</p>
                    <p>Next next estimate: {{ next_estimate.1.ExpectedLeaveTime }} in <b>{{ next_estimate.1.ExpectedCountdown }}</b> minutes.</p>
                    <br>
                    <form class="js-ajax-php-json" method="post" accept-charset="utf-8">
                    Send SMS to <input name="phonenumber" placeholder="6045551234" value="{{ dest_phone_number }}"> at
                        <select name="minute">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="13">13</option>
                            <option value="23">23</option>
                        </select>
                     minutes before 
                        <select name="countdown">
                            <option value="{{ next_estimate.0.ExpectedCountdown }}">{{ next_estimate.0.ExpectedLeaveTime }}</option>
                            <option value="{{ next_estimate.1.ExpectedCountdown }}">{{ next_estimate.1.ExpectedLeaveTime }}</option>
                        </select> bus departure time
                        <input name="route_no" type="hidden" value="{{ route_no }}">
                        <br />
                        <button class="btn btn-info" id="submit" >Remind me!</button>
                        <input type="hidden" name="action" value="schedule"  />
                    </form> 
                 <div id="notice-bar-info"          role="alert" class="alert alert-info fade-in" style="display:none"></div>
                 <div id="notice-bar-fail"          role="alert" class="alert alert-danger fade-in" style="display:none"></div>
                 <div id="notice-bar-success" role="alert" class="alert alert-success fade-in" style="display:none"></div>

                 {% if notice is not null %} 
                {% endif %}   
                    {% endif %}
                    
                 {% if notice is not null %} 
                 {{ notice }}
                {% endif %} 
                    {% if closest_stop is not null %} 
                    <hr>
                    Closest bus stop #: {{ closest_stop }} at {{ stop_location }}. 
                    {% endif %}
                </div>   
                <hr>
                <div class="col-md-6">
                <p>Send a text message to <a href="sms:604-239-5120?body=my favourite bus stop">604-239-5120</a> with the stop # to receive info</p> 
                </div>
            </div>
        </div>
        <div class="col-md-1">
        <p>
        <a href="https://github.com/snacsnoc/runbus">Github</a> | <a href="http://geekness.eu/contact">Contact</a>
        </p>
        </div>
    </body>
    {% include 'footer.twig' %}
</html>